body {
     background: #F774FF;
     color: #000;
 
	 
}

#header {
     background-color: #D8D8D8;

	
}
 
#container {
     background-color: #F774FF;
 
}
 


#content {
	
     background-color: #FFFFFF;

}
 

#footer {
    background: #D8D8D8;

}

#content1 {
	
	outline: 1px solid #000;
}
#content2 {
	
	outline: 1px solid #000;
}
#content3 {
	
	outline: 1px solid #000;
}



#content4 {
	
	outline: 1px solid #000;
	
}
#content5 {

	outline: 1px solid #000;
}
#content6 {
	
	outline: 1px solid #000;
}



#content7 {
	
	outline: 1px solid #000;
}

#content8 {
	
	outline: 1px solid #000;
	
}